<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
    .login-container {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin: 100px auto;
        width: 350px;
        padding: 35px 35px 15px 35px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
    .title {
        margin: 0px auto 30px auto;
        text-align: center;
        color: #505458;
    }
    .remember {
        margin: 0px 0px 35px 0px;
    }

</style>
<body>
<div id="app" class="login-container">
    <el-form
            :model="loginForm"
            :rules="fieldRules"
            ref="loginForm"
            label-position="left"
            label-width="0px"
            class="demo-ruleForm login-container"
            style="width: 400px"
    >
        <div style="display:flex;  justify-content: flex-end;">
            <h2 class="title">数字海南-图书管理系统-测试平台</h2>
        </div>
        <el-dropdown >
        <span class="el-dropdown-link" style="line-height: 30px;font-size: 16px;">
          <i class=" el-icon--left">XXX</i>
          <i class="el-icon-arrow-down el-icon--right"></i>
        </span>
            <el-dropdown-menu slot="dropdown" style="margin-top: -20px;">

            </el-dropdown-menu>
        </el-dropdown>
        <el-form-item prop="account">
            <el-input
                    type="text"
                    v-model="loginForm.account"
                    auto-complete="off"
                    placeholder="请输入用户名"
                    suffix-icon="el-icon-user"
            ></el-input>
        </el-form-item>
        <el-form-item prop="password">
            <el-input
                    v-model="loginForm.password"
                    auto-complete="off"
                    placeholder="请输入密码"
                    @keyup.enter.native.prevent="login"
                    show-password
            ></el-input>
        </el-form-item>
        <el-checkbox v-model="checked" class="remember">
        记住我
        </el-checkbox>
        <el-form-item style="width:100%;">
            <el-button
                    type="primary"
                    style="width:48%;"
                    @click.native.prevent="login"
                    :loading="loading"
            >登录</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                fieldRules: {
                    account: [
                        {
                            required: true,
                            message: '请输入用户名字',
                            trigger: "blur"
                        }
                    ],
                    password: [
                        {
                            required: true,
                            message: '请输入密码',
                            trigger: "blur"
                        }
                    ]
                },
                loading: false,
                loginForm: {
                    account: "",
                    password: ""
                },
                checked: true
            };
        }
    })
</script>
</html>